<!DOCTYPE html>
<html>
  <head>
        <title>{% block title %}PWBOX{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type="text/javascript" src="{{ base_url() }}/assets/js/inici.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <link rel="stylesheet" href="{{ base_url() }}/assets/css/styles.css">

  </head>
  <body>
        {% block content %}{% endblock %}

        <footer> Creado por Carme Perseguer y Miriam López para Projectos Web 2 - &copy;laSalle 2018</footer>
  </body>
</html>

