<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset = "utf-8" />
    <title> PWBOX </title>
    <style>
        input:invalid,input:required:invalid, input:focus:invalid {
            border-color:#ff0000;
        }
        input:focus {
            outline:none;
        }
    </style>
</head>
<body>
    <header>
        <h1> Menu </h1>
        <nav>
            <ul>
                <li><a  href="registration.twig">Register</a></li>
                <li><a  href="login.twig">Login</a></li>
                <li><a  href="#section3">3</a></li>
            </ul>
        </nav>
    </header>
</body>

<footer> Creado por Carme Perseguer y Miriam López para Projectos Web 2 - &copy;laSalle 2018</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="inici.js"></script>

</html>