{% extends "base.twig" %}

{%  block content  %}

<header>
    <h1> MENU </h1>
    <nav>
        <ul>
            <li><a  href="/reg">Register</a></li>
            <li><a  href="/log">Login</a></li>

        </ul>
    </nav>
</header>

{% endblock %}
