{% extends "base.twig" %}

{%  block content  %}

    <header>
        <div class="row">
            <div class="col-lg-3">
                <p id="p1"><b>PW</b>BOX</p>
            </div>
            <div id="top-right" class="col-lg-9">
                <a  href="/reg" class="a">Register</a>
                <a  href="/log" class="a">Login</a>

            </div>
        </div>
        <section class="sec1">
            <h1 class="h1menu"><b>PW</b>BOX</h1>
            <h2>THE NEW CLOUD!</h2>

            <div class="row">
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">

                </div>
            </div>
        </section>
    </header>


{% endblock %}





