{% extends "base.twig" %}

{%  block content  %}

    <header>
        <h1> CONTENIDO USUARIO </h1>
            <nav>
                <ul>
                    <li><a  href="/prof">Profile</a></li>
                </ul>
            </nav>
    </header>

{% endblock %}