{% extends "base.twig" %}

{%  block content  %}
<form action="/login" method="POST">
    <div class="container">
        <h1 class="h1-reg-log">Login</h1>
        <hr>
        <div class="row">
            <div class="col-lg-2">
                <label for="email"><b>Email/Username</b></label>
            </div>
            <div class="col-lg-6" id="col-email">
                <input type="text" placeholder="Enter Email/Username" name="email" >
            </div>
        </div>
        <p>{{ errors[0] }}</p>
        <div class="row">
            <div class="col-lg-2">
                <label for="psw"><b>Password</b></label>
            </div>
            <div class="col-lg-6" id="col-password">
                 <input type="password" placeholder="Enter Password" name="psw" >
            </div>
        </div>
        <p>{{ errors[1] }}</p>

        <input type="submit" name="submit" value="Login" class="submit">


    </div>

</form>
{% endblock %}
