body{
  background-color: ghostwhite;
}
.h1menu{
  text-align: center;
  font-size: 1000%;
  padding-top: 100px;
  color: darkslateblue;
  /*padding-left: 400px;
  font-size: 70px;
  margin-top: 25px;
  text-align: center;
  color: whitesmoke;
  */
}
.h1-reg-log{
 /* text-align: left;
  margin-left: -200px;
  margin-right: -200px;
  padding-top: 10px;
  margin-top: -5px;
  margin-top: -5px;
  padding-bottom: 10px;
  background-color: darkslateblue;
  color: whitesmoke;
  */
  color: darkslateblue;
  position: absolute;
  margin-top: -2px;
    margin-left: -500px;
}
hr{
  margin-top: 50px;
    margin-left: -500px;
    padding-bottom: 20px;
}
h2{
  color: darkslateblue;
  text-align: center;
}
header{
  padding: 20px;
  height: 130px;
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -25px;
  background-color: darkslateblue;
}
#links{
  margin-top: 50px;
  margin-bottom: 0px;
  text-align: right;
  padding: 20px;
}
/*a{
  padding-right: 60px;
  font-size: 120%;
  color: whitesmoke;
  text-decoration: none;
}
*/
a{
  font-size: 200%;
  margin-right: 40px;
  margin-top: 40px;

  color: whitesmoke;

}
a:link{
  color: whitesmoke;
  text-decoration: whitesmoke;
}
a:hover {
  color: whitesmoke;
  text-decoration: underline whitesmoke;
}
#top-right{
  text-align: right;
  margin-top: 20px;
}

#p1{
  font-size: 300%;
  text-align: left;
  margin-left: 40px;
  margin-top: 20px;
  color: whitesmoke;
}

.sec-center{
    text-align: center;
}
form{
  text-align: left;
  padding: 20px;
    margin-left: 500px;
}
input{
    border-radius: 8px;
  margin-top: 0px;
  padding-left: 10px;
  margin-bottom: 10px;
  width: 250px;
  border:none;
    text-align: center;
  /*border-bottom: 1.5px solid gray;*/
}
label{
    font-weight: bold;
}
.file-img{
    cursor: pointer;
}
.submit{
  background-color: darkslateblue;
  color: whitesmoke;
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.submit:link{
  background-color: ghostwhite;
  color: darkslateblue;
  border: solid 1.5px darkslateblue;
}
.submit:hover{
  background-color: ghostwhite;
  color: darkslateblue;
  border: solid 1.5px darkslateblue;

}
#col-username{
    text-align: left;
    margin-left: -50px;
    padding-bottom: 5px;
}
#col-email{
    text-align: left;
    margin-left: -50px;
    padding-bottom: 5px;
}
#col-birthdate{
    text-align: left;
    margin-left: -50px;
    padding-bottom: 5px;
}
#col-password{
    text-align: left;
    margin-left: -50px;
    padding-bottom: 5px;
}
#col-confirm{
    text-align: left;
    margin-left: -50px;
    padding-bottom: 5px;
}
#col-file{
    text-align: left;
    margin-left: -60px;
    padding-bottom: 5px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 1.5px solid darkslateblue;
    color: darkslateblue;
    background-color: ghostwhite;
    padding: 3px 10px;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 10px;
    width: 250px;
    margin-bottom: 5px;

}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.error-r{
    color: darkred;
    margin-left: 200px;
}